.header {
    padding: 40px 0;
    background-color: #26a69a;
    color: white;
}
.blog-post {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    height: 500px; /* Ajusta este valor según tus necesidades */
}

/* Asegurar que el contenido ocupe todo el espacio disponible */
.card-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 65%;
}

.card-content p {
    flex-grow: 1; /* Hace que el párrafo ocupe el espacio restante */
    margin-bottom: 10px; /* Añade margen al párrafo */
}

.card-title {
    font-weight: 700;
    font-size: 1.5em; /* Ajustable según preferencia */
    color: #333;
    margin-bottom: 10px; /* Espacio debajo del título */
}

.card-image img {
    width: 100%;        
    height: 200px;      
    object-fit: cover;  
}

a {
    margin-top: auto; /* Añade margen al botón de acción */
    margin-bottom: 20px; /* Espacio debajo del botón de acción */
}
footer{
    background-color: #26a69a;
}